clip
Cython==0.29.36
h5py
imageio
matplotlib
nibabel
numpy
open_clip_torch
pandas
Pillow
pycocotools
pycortex
scikit-image
scikit-learn
scipy
seaborn
setuptools
statsmodels
timm
torchextractor
torchgel
tqdm
wget
wheel